---
layout: full-width
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
<div class="col-lg-8 offset-md-2">
<p align="justify">
Dear Learners, I feel very happy to launch my website for all of you. I personally very fond of Electrical and Electronics because I believe that EEE is the subject which is helpful to think with positive way and increase the ability to solve the problems arose in your home and industry. Electrical engineering is a highly technical pursuit that sits at the nexus of software and hardware development. Electrical engineers can design components and electronic systems for industrial machinery and consumer gadgets, and will often work in collaboration with manufacturers and designers to bring new electronic devices to market. Electrical engineering can be quite technically challenging and requires a great deal of mathematics and physics knowledge, but the financial and personal rewards for succeeding in this field are great.</br></br>

In this website my students will have everything which is useful for them according to their class. From my Course Catalog menu you can download important notes, sample and practice question papers, assignments and tutorial related your class. Technostorm is my blog consists of news, research, design, production and more for the electrical and electronics professional.</br></br>

So enjoy all downloads and be successful and merit holder. Best Wishes!</br></p>
</div>
    <div class="col-lg-8 offset-md-2">
      {%- include recent_articles.html -%}
    </div>
	